@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_label_item.scss';

.container{
  overflow-x:hidden;
}
.label-item{
  background-color: #fff;
  position: relative;
  .icon-expire{
    position:absolute;
    top:20rpx;
    right: 20rpx;
    width: 80rpx;
    height: 80rpx;
  }
}
