@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_user_info.scss';
@import '../../public/css/_line_cell.scss';
@import '../../public/css/_product_item.scss';

page{
  padding-bottom:100rpx;
}

.line-cell{
  line-height:40rpx;
  min-height: 100rpx;
  font-size: 28rpx;
  padding: 15rpx;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  .tip{
    font-size:20rpx;
    line-height:1;
    color: #aaa;
  }
  .date-picker{
    width: 140rpx;
    height: 68rpx;
    line-height:68rpx;
    border: 2rpx solid #eee;
    text-align: center;
    display: inline-block;
  }
}

.customer-discount{
  slider {
    width: 100%;
  }
}

.customer-pay{
  background-color: #fff;
  .pay-kind{
    .line-cell{
      margin-left:15rpx;
      &:last-child{
        margin-left:0;
      }
    }
  }
  input {
    width: 70rpx;
  }
}
