.label-item{
  $delete-w: 180rpx;

  margin-left: 18rpx;
  display: flex;
  align-items: center;
  position: relative;
  transition: .7s;
  &.active{
    transform: translate(-$delete-w, 0);
  }
  .icon{
    font-size: 24rpx;
    color: #d9d9d9;
    margin-right: 20rpx;
  }
  .img{
    width: 90rpx;
    height: 90rpx;
    border: 1rpx solid #e5e5e5;
    margin: 12rpx 12rpx 12rpx 0;
  }
  .item-main{
    font-size: 28rpx;
    flex: 1;
    display: flex;
  }
  .delete{
    width: $delete-w;
    background-color: #ff0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24rpx;
    position:absolute;
    top:0;
    right:-$delete-w;
    bottom:-1rpx;
  }
}