.order-item{
  background-color: #fff;
  .order-figure{
    padding: 25rpx 0 20rpx 0;
    display: flex;
    .img{
      width: 130rpx;
      height: 130rpx;
      border: 1rpx solid #e8e8e8;
      margin-right: 22rpx;
    }
    .order-figcaption{
      flex: 1;
      padding: 7rpx 0;
      .p{
        line-height: 40rpx;
        font-size: 28rpx;
      }
    }
  }
  .input-price{
    width: 140rpx;
    height: 40rpx;
    border: 1rpx solid #e5e5e5;
  }
  .label-line{
    &.small{
      font-size: 24rpx;
      padding: 12rpx 0;
    }
  }
}
