.role-prompt{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10rpx 0 55rpx 0;
  background-color: rgba(0, 0, 0, .6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
.role-container{
  background-color: #fff;
  //border-radius: 10rpx;
  overflow:hidden;

  .role-title{
    line-height: 60rpx;
    padding: 24rpx;
  }
  .role-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    .image{
      $w: 130rpx;
      width: $w;
      height: $w;
      border: 1rpx solid #e8e8e8;
    }
    .name{
      margin-top:25rpx;
      font-size: 28rpx;
    }
  }
  .info{
    line-height: 40rpx;
    padding-left: 40rpx;
    font-size: 28rpx;
    color:#666;
  }
}

