.time-container{
  font-size: 24rpx;
  .time{
    line-height: 40rpx;
    color: #fff;
    padding: 0 15rpx;
    margin: 0 20rpx;
    border-radius: 5rpx;
    background-color: #bebebe;
    display: inline-block;
  }
}