@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_user_info.scss';
@import '../../public/css/_line_cell.scss';

page{
  padding-bottom:100rpx;
}

.line-cell{
  font-size:28rpx;
  padding-left:15rpx;
  padding-right:15rpx;
  background-color: #fff;
}


