@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_time.scss';
@import '../../public/css/_label_item.scss';
@import '../../public/css/_role_prompt.scss';

.label-item{
  background-color: #fff;
}
.text-gray{
  color: #666;
}
.role-container .info{
  line-height: 50rpx;
  input{
    display: inline-block;
    vertical-align: middle;
  }
}
